# Default to auto-normalized line endings.
* text=auto eol=lf

# Text
*.rpy text
*.rpym text
*.sh text
*.md text
*.py text

# Data
*.png lfs
*.opus lfs
*.wav lfs
*.mp3 lfs
*.otf lfs
*.webp lfs
*.ogg lfs
